service cloud.firestore {
  match /databases/{database}/documents {
    match /events/{eventId} {
      match /tickets/{ticketId} {
        allow read: if true;
        allow write: if request.auth;
      }
    }
  }
  match /users/{userId} {
    allow read, write: if request.auth.uid === userId;
  }
}
